* {
    margin: 0;
    padding: 0;
}
body {
    background-color: rgba(240, 240, 240, 255);
}

.container {
    display: flex;
    width: 100%;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
}

.header {
    display: flex;
    width: 100%;
    height: 50px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 10px gray;
    justify-content: space-between;
    align-items: center;
}

.logo {
    margin-left: 25px;
}

.logo a {
    font-size: 25px;
    font-weight: bold;
    text-decoration: none;
    color: black;
}

.header-links {
    margin-right: 25px;
}

.header-links a {
    padding-right: 10px;
}
/*///////////////////////////////////////////////////////*/

.data {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 10px;
    width: 100%;
}

.product {
    display: flex;
    flex-direction: column;
    width: 16%;
    margin: 10px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 0 10px gray;
}

.product p {
    padding-top: 10px;
}

.product-name {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

.addToCart {
    margin-top: 10px;
    margin-bottom: 10px;
}

.reviews {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 10px;
}

.reviews textarea {
    width: 100%;
    height: 100px;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0 0 10px gray;
}

.reviews input {
    width: 20%;
    height: 30px;
    border-radius: 5px;
    border: none;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 10px gray;
}

.reviews select {
    width: 20%;
    height: 30px;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 10px gray;
}

.reviews button {
    background-color: rgba(240, 240, 240, 255);
    border-radius: 5px;
    margin-top: 10px;
    padding: 6px;
    color: black;
    border: 2px solid #4CAF50;
}

.reviews button:hover {
    transition-duration: 0.4s;
    background-color: #4CAF50;
    color: white;

}

.reviews-text {
    margin-top: 20px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 0 10px gray;
}

.noReviews {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.reviewAdded {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.reviews-in {
    margin-top: 10px;
}