* {
    margin: 0;
    padding: 0;
}
body {
    background-color: rgba(240, 240, 240, 255);
}

.container {
    display: flex;
    width: 100%;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
}

.header {
    display: flex;
    width: 100%;
    height: 50px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 10px gray;
    justify-content: space-between;
    align-items: center;
}

.logo {
    margin-left: 25px;
}

.logo a {
    font-size: 25px;
    font-weight: bold;
    text-decoration: none;
    color: black;
}

.header-links {
    margin-right: 25px;
}

.header-links a {
    padding-right: 10px;
}
/*///////////////////////////////////////////////////////*/

.data {
    display: flex;
    width: 80%;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 10px;
}

.product {
    width: 16%;
    margin: 10px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 0 10px gray;
}

.product p {
    padding-top: 10px;
}

.remDel {
    margin-top: 10px;
    margin-bottom: 10px;
}

.product:hover {
    box-shadow: 0 0 20px gray;
}

.product-name {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

.a-info {
    text-decoration: none;
    color: black;
}


