<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../static/style/cart.css" th:href="@{/css/cart.css}"/>
    <title>Корзина</title>
</head>
<body>


<div class="container">
    <div class="header">
        <div class="logo">
            <a th:href="@{'/'}">ALIEXPRESS</a>
        </div>
        <div class="header-links">
            <th:block th:if="${user != null}">
                <div th:if="${user.role.name() == 'USER'}">
                    <a th:href="@{'/user'}">Личный кабинет</a>
                    <a th:href="@{'/cart'}">Корзина</a>
                    <a th:href="@{'/logout'}">Выйти</a>
                </div>
            </th:block>
        </div>
    </div>

    <div class="data">
        <div class="products">
            <h2>Корзина</h2>
            <div th:each="cart : ${carts}" class="product">
                <p th:text="${cart.product.name}" class="product-name"></p>
                <p th:text="'Стоимость: ' + ${cart.number} + 'x' + ${cart.product.price} + ' = ' + ${cart.price}"></p>
                <div class="buttons">
                    <a th:href="@{'/cart/' + ${cart.product.id} + '/add'}" class="changePlus">+</a>
                    <a th:href="@{'/cart/' + ${cart.product.id} + '/remove'}" class="changeMinus">-</a>
                    <a th:href="@{'/cart/' + ${cart.product.id} + '/delete'}" class="delete">Удалить</a>
                </div>
            </div>
        </div>

        <div class="cart-process">
            <p th:text="'Итоговая стоимость: ' + ${total}"></p>
            <form action="/cart/process" method="post">
                <input type="text"
                       placeholder="Адрес доставки"
                       name="address"/>
                <button type="submit">Оформить заказ</button>
            </form>
        </div>

    </div>


</div>

</body>
</html>