<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../static/style/orderInfo.css" th:href="@{/css/orderInfo.css}"/>
    <title>Информация о заказе</title>
</head>
<body>

<div class="container">
    <div class="header">
        <div class="logo">
            <a th:href="@{'/'}">ALIEXPRESS</a>
        </div>
        <div class="header-links">
            <th:block th:if="${user != null}">
                <div th:if="${user.role.name() == 'ADMIN'}">
                    <a th:href="@{'/products/create'}">Создать товар</a>
                    <a th:href="@{'/orders'}">Заказы</a>
                </div>
            </th:block>

            <th:block th:if="${user != null}">
                <div th:if="${user.role.name() == 'USER'}">
                    <a th:href="@{'/user'}">Личный кабинет</a>
                    <a th:href="@{'/cart'}">Корзина</a>
                </div>
            </th:block>
        </div>
    </div>

    <div class="data">
        <div class="order">
            <h3>Детали заказа</h3>
            <p th:text="'ID заказа: ' + ${order.id}"></p>
            <p th:text="'Покупатель: ' + ${order.user.surname} + ' ' + ${order.user.name}"></p>
            <p th:text="'Адрес: ' + ${order.address}"></p>
            <p th:text="'Дата заказа: ' + ${order.orderDate}"></p>
            <p th:text="'Статус заказа: ' + ${order.status}"></p>

            <th:block th:if="${user != null}">
                <div th:if="${user.role.name() == 'ADMIN'}">
                    <form th:action="@{'/orders/' + ${order.id} + '/change'}" method="post">
                        <select required="required" name="orderStatus">
                            <option value="">Статус</option>
                            <option th:value="confirm">Подтвердить</option>
                            <option th:value="reject">Отказать</option>
                        </select>
                        <button type="submit">Изменить статус</button>
                    </form>
                </div>
            </th:block>
        </div>

        <div class="products">
            <h3>Товары</h3>
            <div th:each="cart : ${carts}">
                <p th:text="${cart.product.name}" class="order-name"></p>
                <p th:text="'Стоимость: ' + ${cart.number} + 'x' + ${cart.product.price} + ' = ' + ${cart.price}"></p>
                <hr>
            </div>
            <p th:text="'Итоговая стоимость: ' + ${total}" class="totalPrice"></p>
        </div>
    </div>


</div>

</body>
</html>